ARC_RPC_URL=https://rpc.testnet.arc.network
DEPLOYER_PRIVATE_KEY=
ADMIN_SAFE=
PAUSE_GUARDIAN=
SAFE_OWNER_1=
SAFE_OWNER_2=
SAFE_OWNER_3=
SAFE_SALT_NONCE=
# Omit to use address(0). A non-zero handler must already have bytecode on Arc.
# SAFE_FALLBACK_HANDLER=0x...
